<nz-modal
  [(nzVisible)]="isModalVisible"
  [nzTitle]="modalTitle"
  [nzClosable]="false"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="isModalVisible = false"
  [nzWidth]="600"
>
  <ng-template #modalTitle>
    <h4 class="col-mb-0">Please rate your overall experience</h4>
  </ng-template>

  <ng-template #modalContent>
    <div class="col-mb-15">
      <nz-rate
        [(ngModel)]="rating"
        [nzTooltips]="tooltips"
        [nzAllowClear]="false"
      ></nz-rate>
    </div>
    <textarea
      rows="5"
      nz-input
      maxlength="5000"
      [(ngModel)]="feedback"
      placeholder="Provide your valuable feedback and suggestions"
    ></textarea>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="isModalVisible = false">
      Close
    </button>
    <button
      class="col-mr-5"
      nz-button
      nzType="primary"
      [disabled]="!rating || !feedback"
      (click)="postFeedback()"
    >
      <i nz-icon nzType="like" class="va-tt" nzTheme="outline"></i>Submit
      Feedback
    </button>
  </ng-template>
</nz-modal>
