.col-ml-5{
    margin-left: 5px;
}
.col-ml-10{
    margin-left: 10px;
}
.col-mr-10{
    margin-right: 10px;
}
.col-mr-50{
    margin-right: 50px;
}
.col-mr-5{
    margin-right: 5px;
}
.col-mt-5{
    margin-top: 5px;
}
.col-mb-5{
    margin-bottom: 5px;
}

.col-mb-25{
    margin-bottom: 25px;
}

.col-pt-10{
    padding-top: 10px;
}

span{
    cursor: pointer;
}