<div>

  <div class="container">
    <div class="item" (click)="goTo('game')" >
      <span class="ribbon">Game</span>
      Stars Wars</div>

    <div class="item" (click)="goTo('sudoku')">
        <span class="ribbon">Game</span>
        Sudoku
    </div>

    <div class="item" (click)="goTo('tictactoe')">
      <span class="ribbon">Game</span>
      Tic Tac Toe
    </div>

    <a class="item noDec" 
    href="https://makemygreeting.000webhostapp.com/create.html" 
    target="_blank">
    <span class="ribbon">2020</span>
    Greetings
    </a>

    <div class="item" (click)="feedback.show()">Feedback</div>
    <div class="item" (click)="goTo('admin')" >{{isUserAdmin?'Admin':'About'}}</div>
    <div class="item" *ngIf="isUserAdmin" (click)="goTo('fiddler')" >
      <span class="ribbon">Dev</span>
      Fiddler</div>
  </div>
</div>
<float-text #floater></float-text>

<feedback #feedback (done)="feedbackThanks($event)"></feedback>
