.ng-invalid.ng-touched.form-control{
    border: 1px solid red;
    border-right: 3px solid red;
}

.ng-valid.ng-touched.form-control{
    border: 1px solid green;
    border-right: 3px solid green;  
}

a{
    cursor: pointer;
}
.center{
    max-width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.card{
    background-color: white;
    max-width: 70%;
    padding: 30px;
    border:1px solid lightgray;
    border-radius: 5px;
    box-shadow : gray 5px 5px 10px;

}


.col-ml-5{
    margin-left: 5px;
}
.col-ml-10{
    margin-left: 10px;
}
.col-mr-10{
    margin-right: 10px;
}
.col-mr-5{
    margin-right: 5px;
}
.col-mt-5{
    margin-top: 5px;
}
.col-mb-5{
    margin-bottom: 5px;
}

.col-mb-25{
    margin-bottom: 25px;
}

.col-pt-10{
    padding-top: 10px;
}

.text-mute{
    color:rgb(91, 189, 255);
    font-size:11px;
}

.sml{
    font-size:11px;
}

.blank{
    color:white;
    font-size:11px;
}

.btn-default{
    border: 1px solid gray;
    border-radius: .2rem;
}