a {
  cursor: pointer;
}
.center {
  margin: auto;
  align-items: center;
  text-align: center;
}

.login-box {
  background-color: white;
  padding: 30px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: gray 5px 5px 10px;
  margin-top: 10vh;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}

.text-mute {
  color: rgb(91, 189, 255);
  font-size: 11px;
}

.sml {
  font-size: 11px;
}

.blank {
  color: white;
  font-size: 11px;
}

.lost {
  opacity: 0.4;
}

.btn-default {
  border: 1px solid gray;
  border-radius: 0.2rem;
}

.noWrap {
  white-space: nowrap;
}

.heading {
  white-space: nowrap;
  padding: 0;
}

@media (max-width: 500px) {
  .login-box {
    font-size: 0.85rem;
  }
  .heading {
    white-space: initial;
  }
}

@media (max-width: 400px) {
  .login-box {
    font-size: 0.75rem;
  }
}

@media (min-width: 767px) {
  .login-box {
    max-width: 74%;
  }
}

@media (min-width: 992px) {
  .login-box {
    max-width: 525px;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .login-box {
    font-size: 1.2rem;
  }
}

/* -----------ANT---------------- */

[nz-form] {
  max-width: 600px;
}

.inpt-lg {
  height: 35px;
  font-size: 1.2em;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-form-item {
  margin-bottom: 15px;
}

.link {
  text-decoration: none;
  user-select: none;
}
