<div class="center">
        <float-text #floater></float-text>
        <div class="center card row" style="margin-top: 80px;" (mouseenter)="inprogress=true" (mouseleave)="inprogress=false">
        <form #loginForm="ngForm">
                <div class="col-md-12 text-center">
                        <h3 class="text-info">Welcome to Starwars Game</h3><br/>
                </div>
                <div class="col-sm-12 form-group text-left" *ngIf="isRegMode">
                        <input type="text" class="form-control" id="fullName" name="fullName" maxlength="25" required pattern="[a-zA-Z]+[a-zA-Z ]*"
                        [(ngModel)]="fn" placeholder="Enter Full Name" />          
                </div>
                <div class="col-sm-12 form-group text-left">
                        <input type="text" class="form-control" name="userName" id="userName" maxlength="25" (change)="verifyUserName()" required [(ngModel)]="un" [placeholder]="(isRegMode?'Select':'Enter') + ' Username'" pattern="[^ ]+" />
                </div>
                <div class="col-sm-12 input-group mb-3 text-left">
                        <input [type]="shwPass?'text':'password'" class="form-control" id="passWrd" name="passWrd" maxlength="25" required [(ngModel)]="pw" [placeholder]="(isRegMode?'Select':'Enter') +'  Password'" pattern="[^ ]+" (keydown.enter)="(loginForm.invalid || (!isSignUpAllowed && isRegMode)) ? '' : login()">
                        <div class="input-group-append">
                          <button [disabled]="!pw" class="btn btn-sm" [ngClass]="shwPass?'btn-danger':'btn-default'" (click)="shwPass=!shwPass" type="button">{{shwPass?'Hide':'Show'}}</button> 
                        </div>
                </div>
                <div class="col-sm-12 form-group text-left col-mt-5">
                        <button [disabled]="loginForm.invalid || (!isSignUpAllowed && isRegMode)" type="button"
                        [ngClass]="loginForm.invalid  ?'btn-outline-success':'btn-success'" 
                        class="btn btn-sm  col-mr-5" 
                        (click)="login()">
                                {{isRegMode?'Sign Up': 'Login'}}
                        </button>
                        <button class="btn btn-sm col-mr-10 btn-outline-danger" type="button" [disabled]="(!un&&!pw&&!fn)" (click)="clear()">
                                Reset
                        </button>
                        <div *ngIf="!isRegMode" class="form-check-inline float-right col-m-0">
                        <label class="form-check-label text-secondary">
                                <input type="checkbox" class="form-check-input col-m-0" name="autoLogin" 
                                [(ngModel)]="isAutoLogin" >
                                Keep me logged in
                        </label>
                        </div>
                </div>
                <br/>
                <div class="col-sm-12 form-group text-left col-mt-5 noWrap" [ngClass]="inprogress?'':'lost'">
                        <a class="text-info" 
                                (click)="isRegMode = !isRegMode; clear();">
                                {{isRegMode?'⇦ Back':'SignUp'}}
                        </a> <span class="text-secondary"> | </span>
                        <a (click)="feedback.show()" class="text-primary">Provide Feedback</a>
                        <span class="text-secondary"> | </span>
                        <a (click)="loginAsGuest()" class="text-success">Login as Guest</a>
                </div>
        </form>
        </div>

</div>

<feedback #feedback (done)="feedbackThanks($event)"></feedback>