<div class="center">
  <div class="center login-box">
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm($event)"
    >
      <div class="col-md-12 text-center heading">
        <h4 class="text-info">Welcome to Starwars Game</h4>
        <br />
      </div>
      <nz-form-item *ngIf="isRegMode">
        <nz-form-control nzHasFeedback>
          <nz-input-group [nzPrefix]="prefixFullname">
            <input
              class="inpt-lg"
              type="text"
              nz-input
              maxlength="25"
              pattern="[a-zA-Z]+[a-zA-Z ]*"
              formControlName="fullName"
              placeholder="Enter Fullname"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <nz-input-group [nzPrefix]="prefixUser">
            <input
              class="inpt-lg"
              type="text"
              nz-input
              maxlength="25"
              pattern="[^ ]+"
              formControlName="userName"
              placeholder="Enter Username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzHasFeedback>
          <nz-input-group [nzPrefix]="prefixLock">
            <input
              class="inpt-lg"
              type="password"
              nz-input
              maxlength="25"
              formControlName="password"
              placeholder="Enter Password"
              pattern="[^ ]+"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label
            *ngIf="!isRegMode"
            nz-checkbox
            formControlName="remember"
            class="pull-left"
          >
            <span>Remember me</span>
          </label>
          <a
            *ngIf="!isRegMode"
            class="pull-right link"
            href="javascript:0"
            (click)="loginAsGuest()"
          >
            Guest Login
          </a>
          <button nz-button class="login-form-button" [nzType]="'primary'">
            {{ isRegMode ? 'Register' : 'Log In' }}
          </button>
          <span class="pull-left">
            Or
            <a
              class="link"
              href="javascript:0"
              (click)="isRegMode = !isRegMode; resetForm()"
            >
              {{ isRegMode ? 'login' : 'register' }} now!
            </a>
          </span>
        </nz-form-control>
      </nz-form-item>
    </form>
    <ng-template #prefixFullname><i nz-icon nzType="team"></i></ng-template>
    <ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
  </div>
</div>

<feedback #feedback (done)="feedbackThanks($event)"></feedback>
<float-text #floater></float-text>
