

<div class="center">

    <dot [isDotGun]="true"
    [x]="gunPosition"
    [y]="footerPos.top - 70">
</dot>

<dot *ngFor="let dot of enemyArry" 
    [x]="dot.x" 
    [y]="0" 
    [master]="dot.m"  
    (outY)="dot.y=$event" 
    [down]="true" >
</dot>
<dot *ngFor="let dot of bulletArry" 
    [x]="dot.x" 
    [y]="dot.y" 
    [master]="dot.m" 
    (outY)="dot.y=$event" 
    [down]="false">
</dot>

  <float-text #floater></float-text>
  <div class="score text-info">
    High Score : <span *ngIf="highScoreFlag">{{score}} by You!</span>
    <span *ngIf="!highScoreFlag">{{highScore?.highScore}} on {{highScore?.timestamp | date : 'short'}}</span><br/>
    Your Score : {{score}} <span *ngIf="highScoreFlag">🏆</span><br/><br/>
    <span *ngFor="let life of getLifeCount()">{{lifeCount > 6 ?'💚': lifeCount > 3 ? '💛' : '❤️'}}</span><br/>
    <div><br/>

    <p>Screen Size: {{width}} X {{height}} <br/>
       Playing Area: {{playingArea.width}} X {{playingArea.height}} <br/>
       Range X: [{{playingArea.xMin}}, {{playingArea.xMax}}]   <br/>
       Range Y: [{{playingArea.yMin}}, {{playingArea.yMax}}] <br/>
       Gun Pos: [{{this.gunPosition}}, {{footerPos.top}}] <br/>
    </p>
   </div>
  </div>
  <br/>

  <div *ngIf="gamePreview" class="col-p-10 col-m-5" style="font-size: 20px;">
    <br/>
    <h3>Welcome to SUPER GALAXY HUNTER</h3>  
    Earth is under attack by alien spaceships, shoot them down before they land and destroy your city. You have a space gun with unlimited missiles.<br/> Shoot down the Master Space ships to gain Extra life.<br/> Master ships are harder to shoot as they can dodge your missiles.
    <div class="text-info">
      <br/>
      Press [A] to move your gun Left<br/>
      Press [D] to move your gun Right<br/>
      Press [W] to shoot enemy spaceships<br/>
      Press [ SpaceBar ] to START GAME<br/> 
    </div>
  </div>

  <div *ngIf="gameOver"  style="font-size: 120px">
    GAME OVER <br/>
    <h3 *ngIf="highScoreFlag">Congratulation for Scoring Highest Score of {{score}}</h3>
    <h4>Press [ SpaceBar ] to PLAY AGAIN</h4>
  </div>

  <div id="footerDiv" class="footer"></div>
    
</div>





