<div class="split">
  <div class="title text-primary" spellcheck="false" contentEditable="true">Expense Calculator</div>
  <div class="tile box">
    <div class="btn-group col-p-10">
      <button type="button" class="btn" [ngClass]="userInputType === 0 ? 'btn-primary':'btn-light'"
        (click)="changeInputType(0)">Add Peoples</button>
      <button type="button" class="btn" [ngClass]="userInputType === 1 ? 'btn-primary':'btn-light'"
        [disabled]="!payees.length" (click)="changeInputType(1)">Add
        Expenses</button>
    </div>
    <input class="form-control user-input col-m-10" spellcheck="false" [(ngModel)]="userInput"
      (keyup)="entryChanged($event)" />
    <div class="col-m-10 text-info" [innerHtml]="detailedExpense">
    </div>
  </div>

  <div class="summary">
    <div class="expenses">
      <table *ngIf="payees.length" class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th style="min-width: 40%">Expense Description</th>
            <th *ngFor="let payee of payees">{{payee}}</th>
            <th>Total</th>
            <th class="delete-link">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exp of expenses;let idx=index;trackBy: trackByExp">
            <td>{{idx+1}}. {{exp.description}} <span class="exp-payer">- {{exp.payer}}</span></td>
            <td *ngFor="let share of exp.shares">{{currency + share.amount}}</td>
            <td>{{currency + exp.amount}}</td>
            <td class="delete-link"><a (click)="deleteExpense(exp.id)">✘</a></td>
          </tr>
          <tr *ngIf="expenses.length" class="table-info">
            <td *ngFor="let item of totalExp">{{item}}</td>
            <td class="delete-link" (click)="deleteAllExpense()">✘✘✘</td>
          </tr>
          <tr *ngIf="!expenses.length">
            <td [attr.colspan]="4">No Expense added!</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tile box" *ngIf="simpleTransactions?.length">
    <div class="result">
      <h4 class="text-info col-mb-10">Simplified Transactions</h4>
      <div *ngFor="let transact of simpleTransactions" class="tranasaction">
        <span class="name">{{transact.payer}}</span> owes {{currency + transact.amount}} to <span
          class="name">{{transact.receiver}}</span>
      </div>
    </div>
  </div>
</div>