.center{
    max-width: 80%;
    margin: auto;
    align-items: center;
    text-align: center;
    background: lightgray;
}

.col-p-10{
    padding: 10px;
}

.col-pt-25{
    padding-top: 25px;
}

.col-m-5{
    margin: 5px;
}

.col-ml-5{
    margin-left: 5px;
}

.dev{
    width: 150px;
    box-shadow: 1px 1px 7px grey;
}

.arrow{
    cursor: pointer;
}

@media(max-width:992px){
    .center{
        max-width: unset;
    }
}

@media(max-width:700px){
    .about{
        font-size: .95rem;
        padding: .4rem;
   }
   .dev{
       width: 140px;
   }
   .center{
        max-width: 85%;
    }
}

@media(max-width:550px){
    .about{
        font-size: .75rem;
        padding: .4rem;
   }
   .dev{
       width: 130px;
   }
   .center{
    max-width: 90%;
    }
}

@media(max-width:450px){
    .about{
         font-size: .65rem;
         padding: .4rem;
    }
    .dev{
        width: 100px;
    }
    .center{
        max-width: 95%;
    }
}