<div class="center">
  <float-text #floater></float-text>
  <br/>
  <div>
    <h4> {{isAdmin ? 'Welcome to Admin Page': 'About Stars Wars'}} </h4>
  </div>

  <br/>
  <div class="row col-md-12" style="text-align: center">
    <div style="max-height: 500px; overflow-y: auto; width: 100%;">
    <table *ngIf="isAdmin" class="table table-bordered table-hover about">
      <tr>
        <th>UserID</th>
        <th>Full Name</th>
        <th>UserName</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let user of allUsers; let i = index">
        <td>{{user.userid}} </td>
        <td>{{user.fullname}}</td>
        <td>{{user.username}}</td>
        <td>
            <button class="btn btn-sm btn-info" (click)="openLogModal(user.userid)">Logs</button>
            <button class="btn btn-sm btn-primary col-ml-5" (click)="openFeedbackModal(user.userid)">Feedback</button>
            <button class="btn btn-sm col-ml-5" [ngClass]="user.userid > 2 ? 'btn-danger':'btn-warning'"  (click)="deleteUserConfirmation(user)">{{user.userid > 2 ? 'Delete':'Clear'}}</button>
        </td>
      </tr>
    </table>
    </div>
    <div *ngIf="!isAdmin" style="margin:1.3rem">
      <div class="col-md-12 about">
            <div class="col-md-4" style="float:left">
            <img src="../../assets/rajeev.jpg" class="dev" alt="Developer"/><br/><br/>
            Rajeev Ranjan<br/>IIT Roorkee
            </div>
            <div class="col-md-8" style="word-break:break-word;float:left;padding: 5px;text-align: justify;">
              <p>This game was built as a weekend project in Angular 6 without any third party library.</p>
              <p>I'm an experienced, detailed-oriented, front-end web developer. I have three years of hands-on experience in efficiently coding websites and applications using modern HTML, CSS, JavaScript, and Angular.
              </p>
              <p>My web development work has helped grow revenues, accelerate customer acquisition, increase web traffic and deliver an industry leading competitive advantage.</p>
              <p>If you like my work you can hire me as a freelancer at 
                <a href="https://www.freelancer.in/u/rajeev14ranjan" target="blank">www.freelancer.in</a></p>
                <br/><br/>
              <a (click)="goTo('game')" class="text-info arrow">← Go back to Game</a>
              <span class="text-secondary"> | </span>
              <a (click)="feedback.show()" class="arrow text-primary">Provide Feedback</a>
              <a *ngIf="!isGuestUser" (click)="openLogModal(loggedUserID)" class="arrow text-success float-right arrow">Show my Login History</a>
            </div>
            
      </div>
    </div>

    <div *ngIf="false && isAdmin" class="col-md-12 col-pt-10">
        <div class="col-md-9" style="float:left">
            <input id="url"  placeholder="Enter URL" name="url" class="form-control" [(ngModel)]="testURL"/>
        </div>
        <div class="col-md-3" style="float:right;">
          <a class="btn btn-sm btn-outline-info pull-right" style="margin-right: 10px" (click)="isPost=!isPost">{{isPost?'POST':'GET'}}</a>
          <a class="btn btn-sm btn-outline-info pull-right" (click)="testConnection()">Test</a>
        </div>
    </div>
    <div *ngIf="false && isAdmin && isPost" style="float:left; margin-left: 14px" class="col-md-9 col-m-5">
      <input id="data"  placeholder="Enter Post Data" name="data" class="form-control" [(ngModel)]="postData"/>
    </div>
    <textarea *ngIf="false && isAdmin" rows="30" style="font-size: 10px ; margin: 10px 30px;float: left;" class="form-control" readonly [ngModel]= "testResponse | json"></textarea>     
    
    <br *ngIf="isAdmin"/>
    <br *ngIf="isAdmin"/>
    <div *ngIf="isAdmin" class="row col-md-12  col-m-5 col-pt-25 about">
      <button class="btn btn-sm btn-info col-m-5" (click)="goTo('game')">Game Page</button>
      <button class="btn btn-sm btn-info col-m-5" (click)="goTo('login')">Login Page</button>    
      <button class="btn btn-sm btn-info col-m-5" (click)="goTo('error')">Error Page</button>  
      <button class="btn btn-sm btn-info col-m-5" (click)="createUser()">Create User</button>        
      <button class="btn btn-sm btn-info col-m-5" (click)="fetchAllUser()">Refresh</button>        
      <button class="btn btn-sm btn-success col-m-5" (click)="showTestNotification()">Test Notification</button> 

    </div>
    <br/>
  </div>
</div>


<pop-up #newUserConfirmation 
        [popUpProp]="popUpProp"
        (onClicked)="successCallBack($event)">
</pop-up>

<div class="modal fade" bsModal #logModal="bs-modal" [config]="{backdrop: true}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div [ngClass]="'modal-dialog modal-lg'">
    <div class="modal-content" *ngIf="userLogs && userLogs.length > 0">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Login details of {{userLogs[0].fullname}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="logModal?.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 500px; overflow-y: auto; width: 100%;">
          <table class="table table-bordered table-hover">
              <tr>
                <th>Time Stamp</th>
                <th>Match Score</th>
                <th>Device Details</th>
                <th>Screen Size</th>
              </tr>
              <tr *ngFor="let log of userLogs; let i = index">
                <td>{{log.timestamp | date : 'long'}}</td>
                <td>{{log.score}}</td>                
                <td>{{log.useragent}}</td>                
                <td>{{log.screen}}</td>                
              </tr>
            </table>
      </div>
      <div class="modal-footer">   
        <button style="background-color: lightgray" 
        class="btn btn-sm" (click)="logModal?.hide()" >
        close
      </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" bsModal #feedbackModal="bs-modal" [config]="{backdrop: true}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div [ngClass]="'modal-dialog modal-lg'">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">Feedback & Suggestions from 
          {{currentUserName}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="feedbackModal?.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="feedbacks && feedbacks.length > 0" class="modal-body" style="max-height: 500px; overflow-y: auto; width: 100%;">
          <table class="table table-bordered table-hover">
              <tr>
                <th>Time Stamp</th>
                <th>Rating</th>
                <th>Device Details</th>
                <th>Feedback & suggestions</th>
              </tr>
              <tr *ngFor="let feedback of feedbacks; let i = index">
                <td>{{feedback.timestamp | date : 'long'}}</td>
                <td>{{feedback.rating}}</td>                
                <td>{{feedback.useragent}}</td>                
                <td>{{feedback.feedback}}</td>                
              </tr>
            </table>
      </div>
      <div class="modal-footer">   
        <button style="background-color: lightgray" 
        class="btn btn-sm" (click)="feedbackModal?.hide()" >
        close
      </button>
      </div>
    </div>
  </div>
</div>

<feedback #feedback (done)="feedbackThanks($event)"></feedback>