.center{
    margin: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    background: lightgray;
}

.tc{
    text-align: center;
}


.grid{
    white-space: nowrap;
}

.cell{
    font-size: 1.4em;
    text-align: center;
    height: 50px;
    width: 55px;
    padding: 7px;
    display: inline-block;
    border : 1px solid gray;
}

.bottom{
    bottom: 5%;
    left: 30%;
    text-align: center;
    position: absolute;
}

.disp{
    font-size: 1.5em;
    padding: 10px 15px;
    border-bottom: 2px solid #b7b6b6;
    margin-left: 10%;
}